footer#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;    
    text-align: center;
    padding: 10px 0;
}

body.body {
    position: relative; /* footer */
    min-height: 100vh; /* footer */
}


div#main_body {
    padding-bottom: 4rem; /* footer */
}